#monash {
  height: 0;

  .building {
    position: absolute;
    bottom: 30%;
    width: 15vw;
    height: 50vh;
    z-index: -10;
  }
  #west_building{
    left: 25%;
  }

  #east_building{
    right: 25%;
  }
  
  .pillar {
    position: absolute;
    width: 7vw;
    height: 50vh;
    z-index: -9;
    background-color: slategrey;
  }

  #east_pillar{
    left: 0;

    .logo {
      width: 9vmin;
      height: 9vmin;
      margin: 1vmin;
      background-color: white;
    }

  } 

  #west_pillar{
    right: 0;
  }

  .walls {
    position: absolute;
    bottom: 0;
    left: 1vw;
    width: 13vw;
    z-index: -8;
  }

  .wall_base {
    background-color: grey;
    height: 15vh;
    z-index: -7;
  }

  #west_walls{
    background-color: wheat;
    height: 26vh;
    bottom: 15vh;
  }

  #east_walls{
    background-color: wheat;
    height: 23vh;
    bottom: 15vh;
  }

  .wall_flex{
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .windows {
    display: block;
    width: 2vw;
    height: 2vh;
    margin: 2vh 1vw 2vh 1vw;
    background-color: skyblue;
  }

  .roof {
    position: absolute;
    width: 100%;
    height: 1vh;
    left: 0;
    bottom: 41vh;
    background-color: cadetblue;
  }

  #west_roof{
    bottom: 41vh;
  }

  #east_roof{
    bottom: 38vh;
  }

  #glass_bridge{
    position: absolute;
    width: 20vw;
    height: 10vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    z-index: -11;
    outline: 1em solid black;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18vw;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }
  }

  #monash_text_sign{
    position: absolute;
    width: 20vw;
    height: 3vh;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    z-index: -11;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2vh;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }

  }

  h2 {
   position: absolute;
   bottom: 12%;
   left: 50%;
   width: 80vw;
   transform: translate(-50%, -50%);
   z-index: -11;
   text-align: center;
   vertical-align: middle;
  }
}
